@font-face{
  font-family: '04b';
  src: url(04B_30__.TTF) format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: black;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 60px; 
    height: auto; 
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #00bfff;
    text-decoration: none;
    font-family: '04b', Arial, sans-serif;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .burger {
      display: block;
    }
  }
  